:root {
  --gray-dark: #4c4c4c;
  --gray-middle: #e5e5e5;
  --gray-light: #f7f7f7;
  --green-dark: #58a700;
  --green-middle: #58cc02;
  --green-light: #bff199;
  --red-dark: #d12020;
  --red-middle: #ec0b1b;
  --blue-dark: #1453a3;
}
